@import './index.css';

.App {
  text-align: center;
}

.container--calculator {
  width: min(max(80vw, 300px), 600px);
  margin: 1rem auto;
  padding: 1rem;
  background: var(--bg-1);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.container--displays {
  background: var(--bg-2);
  margin: 1rem auto;
  padding: 1rem;
  border-radius: var(--border-radius);
  width: 100%;
}

.container--operation {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.container--buttons {
  padding: 10px;
}

.container--buttons--num-oper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container--buttons--numbers {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.number {
  grid-column: span 2;
}

.number:last-child:nth-last-child(3n-2) {
  grid-column-end: 5;
}

.container--buttons--operators {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.operator {
  line-height: 2.5rem;
}

.container--buttons--clear {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.display--result {
  width: 95%;
  padding: .5rem;
  text-align: center;
  margin: .5rem auto;
}

.display--operator {
  text-align: center;
}

.button--calculate {
  width: 97%;
}

input {
  margin: .5rem;
  padding: .5rem;
  background: var(--bg-0);
  color: var(--text-accent);
  border: .25rem solid var(--accent);
  width: 0;
  flex-grow: 1;
}

p {
  margin: .5rem;
  padding: .5rem;
  color: var(--text-normal);
  border: .25rem solid var(--accent);
  background: var(--bg-3);
  width: 15%;
}
